.App {
  text-align: center;
}
.App button{
  width: 250px;
  padding: 12px 28px;
  margin: 20px 5px;
  border-radius: 12px;
  transition-duration: 0.4s;
  border: solid #4ba5e5;
  font-size: 20px;
  color: #4ba5e5;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.App button:hover{
  background-color: #4ba5e5;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.dropdownList{
  width: 50%;
  height: 50px;
  font-size: 25px;
  color: blue;
  margin: 20px 5px;
  border-color: #4ba5e5;
}
.welcomePage{
  margin: 5px 30px;
  font-size: 20px;
}
.logo{
  height: 200px;
  width: 200px;
  animation: App-logo-spin 5s linear 2s infinite alternate;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
