.App {
  text-align: center;
}
.App button{
  width: 250px;
  padding: 12px 28px;
  margin: 20px 5px;
  border-radius: 12px;
  transition-duration: 0.4s;
  border: solid #4ba5e5;
  font-size: 20px;
  color: #4ba5e5;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.App button:hover{
  background-color: #4ba5e5;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.dropdownList{
  width: 50%;
  height: 50px;
  font-size: 25px;
  color: blue;
  margin: 20px 5px;
  border-color: #4ba5e5;
}
.welcomePage{
  margin: 5px 50px;
  font-size: 25px;
  background-image: url('./images/background.gif');
  background-position: center;
  background-size: contain;
  color:#093b8c;
}
.breedInfo{
  background-image: url("./images/background.gif");
}
.picturesGallery{
  background-image: url('./images/background.png');
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.logo{
  height: 200px;
  width: 200px;
  animation: App-logo-spin 5s linear 2s infinite alternate;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #aee0f2;
}
.container:hover .overlay {
  opacity: .7;
}
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imageBreed {
  display: block;
  width: 100%;
  height: auto;
}
